#Boutique{
	
}
#Boutique ul{
	margin: 0 ;
	padding: 0;
}
#Boutique .seek{
	width: 100%;
	background: #F54B4B;
	padding: 40px 0;
}
.container{
	position: relative;
}
#tab{
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
#tab .ac{
	color: #D82929;
}
#tab .bc{
	position: absolute;
	width: 40px;
	border: 1px solid #D82929;
	bottom: 0;
	left: 50%;
	margin-left: -20px;
}
.tab li{
	float: left;
	font-size: 16px;
	line-height: 26px;
	color: rgba(0, 0, 0, 0.4);
	margin-right: 64px;
	padding: 19px 0;
	position: relative;
	cursor: pointer;
}
#classify{
	margin-top:24px;
}
#classify ul:nth-child(1){
	margin-bottom: 8px;
}
#classify li{
	font-size: 14px;
	line-height: 26px;
	color: rgba(0, 0, 0, 0.8);
	float: left;
	margin-right: 40px;
}
.course_classification li{
	cursor: pointer;
}
.course_classification span{
	float: left;
	display: block;
	color: rgba(52, 41, 41, 0.6);
    margin-right: 16px;
    font-size: 14px;
    line-height: 26px;
}
.paixu{
	float: left;
	display: block;
	color: rgba(52, 41, 41, 0.6);
    margin-right: 16px;
    font-size: 14px;
    line-height: 26px;
}
.paixu_pa li{
	cursor: pointer;
}
#classify .paixu_pa .ac{
	color: #D82929;
}

#classify .course_classification .ac{
	color: #D82929;
}
#classify .one{
	color: rgba(52, 41, 41, 0.6);
	margin-right: 16px;
	
}
#Boutique .seek input{
	background: #FFFFFF;
	border-radius: 32px;
	border:0;
	outline:none;
	background: #FFFFFF;
	border-radius: 32px;
	width: 100%;
	text-indent:32px;
	height: 56px;
}
#Boutique .seek img{
	width: 24px;
	height: 24px;
	position: absolute;
	top: 16px;
	right: 28px;
	cursor: pointer;
}
.newest_main{
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	margin-bottom: :;;
	background-color: #fff;
	margin-bottom: 24px;
	width: 280px;
	float: left;
	margin-right: 20px;
}
.newest_main:nth-child(4){
	margin-right: 0px;
}
.newest_main:nth-child(8){
	margin-right: 0px;
}
.newest_main:nth-child(12){
	margin-right: 0px;
}
.newest_main:nth-child(16){
	margin-right: 0px;
}
.newest_main:nth-child(20){
	margin-right: 0px;
}
.newest_main:nth-child(24){
	margin-right: 0px;
}
.newest_main:nth-child(28){
	margin-right: 0px;
}
.newest_main:nth-child(32){
	margin-right: 0px;
}
.newest_main:nth-child(36){
	margin-right: 0px;
}
.newest_main:nth-child(40){
	margin-right: 0px;
}
.newest_main:nth-child(44){
	margin-right: 0px;
}
.newest_main:nth-child(48){
	margin-right: 0px;
}
.newest_main:nth-child(52){
	margin-right: 0px;
}
.newest_time{
	width: 48px;
	height: 20px;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	background: #D82929;
	border-radius: 4px;
	position:absolute;
	bottom: 8px;
	right: 8px;
}
.newest_main_img{
	width: 100%;
}
.newest_main_zhong{
	padding: 0 16px;
	margin-top: 16px;
}
.newest_main_zhong_form{
	border: 1px solid rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	font-size: 12px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.6);
	float: left;
	padding: 2px 8px;
}
.newest_main_zhong_teacher{
	float: right;
	font-size: 12px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.6);
	padding: 2px 0;
	
}
.newest_main_xia{
	padding: 12px 16px 16px 16px;
}
p{
	margin: 0;
	padding: 0;
	/*文本溢出两行出省略号*/
	display: -webkit-box;
	-webkit-box-orient: vertical;
	/*允许行数*/
	-webkit-line-clamp: 2;
	overflow: hidden;
}
#curriculum{
}
/*提示*/
#zhanwei{
	height: 26px;
	width: 100%;
}
#tishi{
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.6);
	margin-top: 32px;
	padding-bottom: 24px;
}
#tishi span{
	color: #D82929;
}
#no{
	padding-top: 30px;
	margin-bottom: 90px;
}
#no img{
	height: 120px;
	display: block;
	margin: 0 auto;
	margin-bottom: 24px;
}
#no p{
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.6);
	text-align: center;
}
