input{
	border: none;
	text-indent:16px;
	outline:none;
}
.my_favorite_top{
	background: #DE2121;
	padding: 24px 0;
}
.my_favorite_top_le{
	float: left;
}
.my_favorite_top_le img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	float: left;
	margin-right: 24px;
}
.my_favorite_top_le_name{
	float: left;
	margin-top: 8px;	
}
.my_favorite_top_le_name p{
	font-size: 20px;
	line-height: 28px;
	font-weight: 600;	
	color: #FFFFFF;
}
.my_favorite_top_le_name_shenfen{
	border: 0.5px solid rgba(255, 255, 255, 0.4);
	box-sizing: border-box;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
	padding: 2px 5px;
	margin-top: 8px;
	text-align: center;
    width: fit-content;

}
.my_favorite_top_ri{
	float: right;
	margin-top: 10px;
}
.my_favorite_top_ri_inner{
	float: right;
	margin-left: 50px;
}
.my_favorite_top_ri_inner_text{
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	text-align: center;
}

.my_favorite_top_ri_inner_naber{
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	color: #FFFFFF;
	text-align: center;
}
.my_favorite_main{
	margin-top: 28px;
}
.my_favorite_main_le{
	width: 280px;
	float: left;
}
.my_favorite_main_le ul{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 10px;
}
.my_favorite_main_le li{
	width: 180px;
	margin: 0 auto;
	padding: 12px 0;
	text-align: center;
}
.my_favorite_main_le li a{
	color: rgba(0, 0, 0, 0.8);
 }
.my_favorite_main_le li a:hover{
	color: #DE2121;
}
.my_favorite_main_le .ac{
	background: #DE2121;
	border-radius: 24px;
	color: #fff;
	width: 180px;
	
}
.tuichu{
	width: 180px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 24px;
	color: #DE2121;
	text-align: center;
	margin-top: 24px;
	margin-bottom: 203px;
}
.my_favorite_main_ri{
	float: left;
	width: 880px;
	margin-left: 20px;
}
.my_favorite_main_ri_top{
	position: relative;
}
.my_favorite_main_ri_top>p{
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.8);
	padding-top: 12px;
	padding-bottom:8px ;
}
.my_favorite_main_ri_top_jifen{
	position: absolute;
	top: 12px;
	right: 0;
}
.my_favorite_main_ri_top_jifen img{
	width: 24px;
	height: 24px;
	display: inline-block;
    vertical-align: middle;
}
.my_favorite_main_ri_main{
	
}
p{
	margin: 0;
	padding: 0;
	/*文本溢出两行出省略号*/
	display: -webkit-box;
	-webkit-box-orient: vertical;
	/*允许行数*/
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.my_intrgral_main_ri_mian{
	margin-top: 16px;
	padding-bottom: 12px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 8px;
}
.my_intrgral_main_ri_mian li{
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.4);
	float: left;
	margin-right: 128px;
	cursor: pointer;
}
.my_intrgral_main_ri_mian li:hover{
	color: #DE2121;
}
.my_intrgral_main_ri_mian .my_intrgral_main_ri_mian_ri{
	float: right;
	margin-right: 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.4);
}
.my_intrgral_main_ri_mian_ri span{
	color:#FF8A35;
	font-weight: 600;
	
}
.my_intrgral_main_ri_mian .ac{
	color: #DE2121;
	font-weight: 600;
}

.head_portrait{
	margin-top: 24px;
	
}
.text{
	float: left;
	width: 87px;
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.8);
	margin-right: 8px;
    text-align: right;
    
}
.shangchuan{
	float: left;
	width: 80px;
	height: 80px;
	background: #F2F2F2;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.shangchuan:hover{
	background: #C90B0B;
}
.shangchuan_zi{
	position: absolute;
	bottom: 0;
	left: -12px;
	width: 90px;
	height: 24px;
	background: #DE2121;
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
	text-align: center;
}
.nickname,.real_name,.identity_card,.province,.the_city_proper,.politics_status{
	margin-top: 24px;
}
.nickname input,.real_name input,.identity_card input{
	width: 380px;
	float: left;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	border: none;
	height: 48px;
	margin-right: 16px;
	text-indent:16px;
	outline:none;
	color: rgba(0,0,0,.8);
}
.xianding{
	float: left;
	font-size: 16px;
	line-height: 48px;
	color: rgba(0, 0, 0, 0.2);
}
.province input,.the_city_proper input,.politics_status input{
	width: 280px;
	float: left;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	border: none;
	height: 48px;
	margin-right: 16px;
	text-indent:16px;
	outline:none;
}
#province_code_id,#city_code_id,#district_code_id,#street_code_id,#politics_status{
	width: 280px;
	float: left;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	border: none;
	height: 48px;
	margin-right: 16px;
	text-indent:12px;
	cursor: pointer;
	outline:none;
}
#identity_card{
	width: 280px;
	float: left;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	border: none;
	height: 48px;
	margin-right: 16px;
	text-indent:16px;
	outline:none;
}
option{
	width: 280px;
	background: rgba(0, 0, 0, 0.05);
	text-indent:16px;
	height: 48px;
}
.province .texts{
	margin-right:8px;
	width: 32px;
	margin-left: 100px;
	text-align: right;
}

.the_city_proper .text1{
	width: 88px;
	margin-right: 13px;
	margin-left: 42px;
}
.baocun{
	margin-top: 24px;
}
.baocun .tijiao{
	float: left;
	cursor: pointer;
	background: #DE2121;
	border-radius: 8px;
	width: 180px;
	height: 48px;
	background: #DE2121;
	border-radius: 8px;
	text-align:center;
	line-height: 48px;
	color: #fff;
}
.tijiao:hover{
	background: #C90B0B;
}
.binding_information{
	padding-top: 32px;
}
.binding_information .text,.cellphone .text{
	width: 96px;
	margin-right: 4px;
}
.WeChat_anniu{
	float: left;
	width: 180px;
	height: 48px;
	background: #7BB32E;
	border-radius: 8px;
	font-size: 16px;
	line-height: 48px;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
}
.cellphone{
	/*margin-top: 24px;*/
}
.cellphone_anniu{
	float: left;
	width: 180px;
	height: 48px;
	background: #18A0FB;
	border-radius: 8px;
	font-size: 16px;
	line-height: 48px;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
}
#WeChat_input{
	width: 380px;
	height: 48px;
	background: #F2F2F2;
	border-radius: 8px;
	float: left;
	border: none;
	text-indent:16px;
	outline:none;
}
#cellphone_input{
	width: 380px;
	height: 48px;
	background: #F2F2F2;
	border-radius: 8px;
	float: left;
	border: none;
	text-indent:16px;
	outline:none;
}

.tishi{
	float: left;
	height: 48px;
	font-size: 16px;
	line-height: 48px;
	color: #7BB32E;
	margin-left: 20px;
	cursor: pointer;
}

.genghuan{
	float: left;
	height: 48px;
	font-size: 16px;
	line-height: 48px;
	color: #18A0FB;
	margin-left: 20px;
	cursor: pointer;
}
.Mobile_phone{
	width: 672px;
	height: 458px;
	background: #FFFFFF;
	box-shadow: 0px 8px 48px rgba(0, 0, 0, 0.16);
	border-radius: 8px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -229px;
	margin-left: -360px;
	padding: 0 24px;
}
.Mobile_phone_top{
	height: 26px;
	padding-top: 24px;
	padding-bottom: 8px;
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
	color: rgba(0, 0, 0, 0.8);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	position: relative;
}
.Mobile_phone_top span{
	position: absolute;
	bottom: 18px;
	right: 0;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
.Mobile_phone_tishi{
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.8);
	text-align: center;
	margin-top: 56px;
}
.Mobile_phone_raw{
	margin-top: 24px;	
}

.Mobile_phone_raw_le,.Mobile_yanzheng_raw_le{
	font-size: 16px;
	line-height: 48px;
	color: rgba(0, 0, 0, 0.8);
	width: 112px;
	height: 48px;
	margin-left: 60px;
	float: left;
	margin-right: 24px;
}
#Mobile_phone_raw_ri,#xin_Mobile_phone_mobile{
	width: 380px;
	height: 48px;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	float: left;
	border: none;
	text-indent:16px;
	outline:none;
}
.Mobile_phone_raw_tishi{
	font-size: 12px;
	line-height: 20px;
	color: #DE2121;
	padding: 4px 0 4px 197px;
}
.Mobile_yanzheng_raw{
	margin-top: 4px;
}
#Mobile_yanzheng_raw_ri,#xin_Mobile_phone_code{
	width: 200px;
	height: 48px;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	float: left;
	border: none;
	text-indent:16px;
	outline:none;
}
.Mobile_yanzheng_raw_but{
	width: 160px;
	height: 48px;
	background: #179AF1;
	float: left;
	text-align: center;
	line-height: 48px;
	color: #fff;
	border-radius: 4px;
	margin-left: 20px;
	cursor: pointer;
}
.remove_binding{
	width: 160px;
	height: 48px;
	background: rgba(222, 33, 33, 0.4);
	border-radius: 8px;
	margin: 0 auto;
	text-align: center;
	line-height: 48px;
	color: #fff;
	margin-top: 20px;
	cursor: pointer;
}

/*密码修改*/
.change_password{
}
.change_password_top{
	margin-top: 45px;
	margin-left: 118px;
	margin-bottom: 70px;
}
.change_password_wai{
	width: 20px;
	height: 20px;
	padding: 4px;
	border-radius: 50%;
	background: rgba(222, 33, 33, 0.2);
	float: left;
	position: relative;
}
.change_password_nei{
	margin:  0 auto;
	margin-top: 2px;
	width: 16px;
	height: 16px;
	border-radius: 50%;	
	background: #DE2121;
}
.xian{
	width: 160px;
	height: 0px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	float: left;
	margin-top: 14px;
	margin-left: 8px;
}
.change_password_tit{
    position: absolute;
    bottom: -28px;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.8);
    width: 84px;
    left: -28px;
    text-align: center;
}
.change_password_zhong{
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.8);
}
.change_password_zhong span{
	color: #DE2121;
	cursor: pointer;
}
.change_password_xia{
	/*margin-top: 32px;*/
}
.change_password_xia_le,.change_password_xia_ri,.change_password_xia_ri1{
	width: 180px;
	height: 48px;
	border-radius: 4px;
	font-size: 14px;
	line-height: 24px;
	color: #FFFFFF;
	float: left;
	line-height: 48px;
	text-align: center;
	margin-top: 32px;
}
.change_password_xia_le{
	background: #DE2121;
	margin-left: 220px;
}
.change_password_xia_ri{
	background: #18A0FB;
	margin-left: 120px;
	
}
.change_password_xia_ri1{
	background: rgba(24, 160, 251, 0.4);
}

/*原密码*/
#original_password{
	display: block;
	width: 279px;
	height: 48px;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	margin: 0 auto;
	border: none;
	text-indent:16px;
	outline:none;
	margin-top: 24px;
}
.change_password_xia_tijiao{
	width: 279px;
	margin: 0 auto;
	margin-top: 32px;
	
}
.change_password_xia_tijiao_le{
	float: left;
	width: 42px;
	height: 48px;
	font-size: 14px;
	line-height: 22px;
	color: rgba(0, 0, 0, 0.4);
	margin-right: 57px;
	line-height: 48px;
	cursor: pointer;
}
.change_password_xia_tijiao_ri{
	float: left;
	width: 180px;
	height: 48px;
	background: #DE2121;
	border-radius: 4px;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	text-align: center;
	line-height: 48px;
	cursor: pointer;
}
.change_password_xia_input{
	margin-left: 184px;
	margin-top: 24px;
}
.change_password_xia_input_le{
	float: left;
	width: 112px;
	height: 48px;
	font-size: 16px;
	line-height: 48px;
	color: rgba(0, 0, 0, 0.8);
	margin-right: 24px;
}
#change_password_xia_input_riput_ri{
	float: left;
	width: 380px;
	height: 48px;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
}


.shoujihao_yanzheng_raw_le{
	font-size: 16px;
	line-height: 48px;
	color: rgba(0, 0, 0, 0.8);
	width: 64px;
	height: 48px;
	margin-left: 232px;
	float: left;
	margin-right: 24px;
}
.shoujihao_yanzheng_raw{
	margin-top: 32px;
}
#shoujihao_yanzheng_raw_ri{
	width: 180px;
	height: 48px;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	float: left;
	border: none;
	text-indent:16px;
	outline:none;
}
.shoujihao_yanzheng_raw_but{
	width: 180px;
	height: 48px;
	background: #179AF1;
	float: left;
	text-align: center;
	line-height: 48px;
	color: #fff;
	border-radius: 4px;
	margin-left: 20px;
	cursor: pointer;
}
#xin_password_xia_input_riput_ri{
	float: left;
	width: 279px;
	height: 48px;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
}
#cf_yanzheng_raw_ri{
	float: left;
	width: 279px;
	height: 48px;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
}

.wancheng_img{
	height: 120px;
	display: block;
	margin: 0 auto;
}
.wancheng_tit{
	font-size: 18px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.8);
	text-align: center;
	margin-top: 24px;
}
.wancheng_but{
	width: 180px;
	height: 48px;
	background: #DE2121;
	border-radius: 4px;
	font-size: 16px;
	line-height: 48px;
	color: #FFFFFF;
	text-align: center;
	margin: 0 auto;
	margin-top: 32px;
}


