body{
	padding-bottom: 230px;
	position: relative;
}
.inner{
	width: 1180px;
	margin: 0 auto;
}
#base{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 24px 0;
	margin-top: 80px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
#base li{
	font-size: 14px;
	line-height: 22px;
	color: #3C3C3C;
	margin-right: 44px;
	float: left;
}
#base .ul2 li{
	margin-right: 71px;
}
#base .zuihou{
	margin: 0;
}
#base .gzh{
	float: right;
	margin: 0;
}

