.login,.zhuce,.yi_zhuce{
	width: 320px;
	height: 402px;
	padding: 24px 40px;
	background: #FFFFFF;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
	border-radius: 8px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -225px;
	cursor: pointer;
}
.login p{
	font-size: 12px;
	line-height: 20px;
	color: #DE2121;
	margin: 4px 0 8px 0;
	display: block;
	height: 20px;
}
.register_tishi,.register_tishi_shouji{
	font-size: 12px;
	line-height: 20px;
	color: #DE2121;
	margin: 4px 0 8px 0;
	display: block;
	height: 20px;
}
.ipone,.zhanghao{
	float: left;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.8);
	position:relative;
	padding-bottom:8px;
	margin-right: 32px;
}
.ipone:hover ,.zhanghao:hover{
	color: #DE2121;
}
.ipone span,.zhanghao span{
	position: absolute;
	width: 40px;
	height: 2px;
	background: #DE2121;
	bottom: 2px;
	left: 50%;
	margin-left: -20px;
}
.login_zhuce,.zhuce_denglu{
	float: right;
	font-size: 16px;
	line-height: 24px;
	color: #18A0FB;
}
.login_zhuce:hover,.zhuce_denglu:hover{
	color: #0486DE;
}
#shoujihao,#mima,#zaimima,#login_zhanghao_zhanghao,#login_zhanghao_mima,#register_shouji,#register_shoujihao{
	width: 320px;
	height: 48px;
	background: #F1F6F9;
	border-radius: 4px;
	margin: 0 auto;
	display: block;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.8);
	border: none;
	text-indent:16px;
	outline:none;
	margin-top: 40px;
}
p{
	text-indent:16px;
	
}
#yanzheng input,#yanzheng div,#register_yanzheng input,#register_yanzheng div{
	width: 150px;
	height: 48px;
	background: #F1F6F9;
	border-radius: 4px;
	float: left;
	font-size: 16px;
	line-height: 48px;
}
#yanzheng div,#register_yanzheng div{
	float: right;
	background: #18A0FB;
	color: #FFFFFF;
	cursor: pointer;
	text-align: center;
}
#register_yanzheng div:hover,#yanzheng div:hover{
	background: #0487DE;
}
#yanzheng input,#register_yanzheng input{
	background:#F1F6F9;
	color: rgba(0, 0, 0, 0.4);
	text-indent:16px;
	
}
.denglu{
	font-size: 16px;
	line-height: 48px;
	color: #FFFFFF;
	width: 320px;
	height: 48px;
	background: rgba(222, 33, 33, 0.2);
	border-radius: 4px;
	margin-top:16px;
	text-align: center;
}
.denglu:hover{
	/*background: #C90B0B;*/
}
.wx{
	width: 152px;
	height: 32px;
	margin: 0 auto;
	cursor: pointer;
	margin-top: 64px;
}
.wx img{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	float: left;
	margin-right: 8px;
}
.wx span{
	line-height: 32px;
	font-size: 16px;
	color: #7BB32E;
}
.zhuce_p{
	font-size: 12px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.6);
	text-indent:16px;
	margin: 4px 0 8px 0;
}

.wanshanxinxi{
	position: fixed;
	width: 546px;
	height: 568px;
	left: 50%;
	top: 50%;
	margin-top: -304px;
	margin-left: -313px;
	background: #FFFFFF;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
	border-radius: 8px;
	padding: 0 40px;
	padding-bottom: 40px;
}
.personal_details_top{
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.8);
	padding-top: 24px;
}

.nickname,.real_name,.identity_card,.province,.the_city_proper,.politics_status{
	margin-top: 24px;
}
.nickname input,.real_name input,.identity_card input{
	width: 320px;
	float: left;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	border: none;
	height: 48px;
	margin-right: 16px;
	text-indent:16px;
	outline:none;
}
.xianding{
	float: left;
	font-size: 16px;
	line-height: 48px;
	color: rgba(0, 0, 0, 0.2);
}
.province input,.the_city_proper input,.politics_status input{
	width: 280px;
	float: left;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	border: none;
	height: 48px;
	margin-right: 16px;
	text-indent:16px;
	outline:none;
}
#province_code_id,#city_code_id,#district_code_id,#street_code_id,#politics_status{
	width: 160px;
	float: left;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	border: none;
	height: 48px;
	margin-right: 16px;
	text-indent:16px;
	outline:none;
}
#identity_card{
	width: 320px;
	float: left;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	border: none;
	height: 48px;
	margin-right: 16px;
	text-indent:16px;
	outline:none;
}
option{
	width: 280px;
	background: rgba(0, 0, 0, 0.05);
	text-indent:16px;
	height: 48px;
}
.province .texts{
	text-align: left;
	margin-right:8px;
	width: 88px;
	margin-left: 0;
}
.the_city_proper .text1{
	width: 88px;
	margin-right: 13px;
	margin-left: 0;
}
.baocun{
	cursor: pointer;
	height: 48px;
	text-align:center;
	line-height: 48px;
	color: #fff;
	width: 320px;
	background: rgba(222, 33, 33, 0.2);
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 24px;
}

/*已注册弹框*/
.yi_zhuce{
	padding-top: 122px;
	height: 304px;
}
.yi_zhuce p{
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	color: rgba(0, 0, 0, 0.8);
}
.yi_zhuce p:nth-child(3){
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
	color: rgba(0, 0, 0, 0.8);
	margin-top: 24px;
}

.xinzhanghao{
	width: 320px;
	height: 48px;
	background: #DE2121;
	border-radius: 4px;
	font-size: 16px;
	line-height: 48px;
	color: #FFFFFF;
	margin-top: 50px;
	text-align: center;
	cursor: pointer;
}
.fangqizhuce{
	font-size: 14px;
	line-height: 22px;
	color: #DE2121;
	text-align: center;
	margin-top: 22px;
	cursor: pointer;
}