.my_favorite_top{
	background: #DE2121;
	padding: 24px 0;
}
.my_favorite_top_le{
	float: left;
}
.my_favorite_top_le img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	float: left;
	margin-right: 24px;
}
.my_favorite_top_le_name{
	float: left;
	margin-top: 8px;	
}
.my_favorite_top_le_name p{
	font-size: 20px;
	line-height: 28px;
	font-weight: 600;	
	color: #FFFFFF;
}
.my_favorite_top_le_name_shenfen{
	border: 0.5px solid rgba(255, 255, 255, 0.4);
	box-sizing: border-box;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
	padding: 2px 5px;
	margin-top: 8px;
	text-align: center;
}
.my_favorite_top_ri{
	float: right;
	margin-top: 10px;
}
.my_favorite_top_ri_inner{
	float: right;
	margin-left: 50px;
}
.my_favorite_top_ri_inner_text{
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	text-align: center;
}

.my_favorite_top_ri_inner_naber{
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	color: #FFFFFF;
	text-align: center;
}
.my_favorite_main{
	margin-top: 28px;
}
.my_favorite_main_le{
	width: 280px;
	float: left;
}
.my_favorite_main_le ul{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 10px;
	/*height: 476px;*/
}
.my_favorite_main_le li{
	width: 180px;
	margin: 0 auto;
	padding: 12px 0;
	text-align: center;
	cursor: pointer;
}
.my_favorite_main_le li a{
	color: rgba(0, 0, 0, 0.8);
 }
.my_favorite_main_le li a:hover{
	color: #DE2121;
}
.my_favorite_main_le .ac{
	background: #DE2121;
	border-radius: 24px;
	color: #fff;
	width: 180px;
	
}
.tuichu{
	width: 180px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 24px;
	color: #DE2121;
	text-align: center;
	margin-top: 24px;
	margin-bottom: 203px;
}
.my_favorite_main_ri{
	float: left;
	width: 880px;
	margin-left: 20px;
}
.my_favorite_main_ri_main{
	padding-bottom: 16px;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.my_favorite_main_ri>p{
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.8);
	padding-top: 12px;
	padding-bottom:8px ;
}
.my_favorite_main_ri_title{
	margin-top: 16px;
	width: 880px;
}

.my_favorite_main_ri_title_le{
	font-size: 14px;
	line-height: 22px;
	color: rgba(0, 0, 0, 0.4);
	float: left;
	width: 600px;
	
}
.my_favorite_main_ri_title_le p{
	float: left;
	margin: 0;
	padding: 0;
}
.my_favorite_main_ri_title_le span{
	font-size: 14px;
	line-height: 22px;
	color: #18A0FB;
	float: left;
	display: -webkit-box;
	/*文本溢出两行出省略号*/
	-webkit-box-orient: vertical;
	/*允许行数*/
	-webkit-line-clamp: 1;
	overflow: hidden;
	width: 540px;
	cursor: pointer;
}
.my_favorite_main_ri_title_le span:hover{
	color: #0487DE
}
.my_favorite_main_ri_title_ri{
	float: right;
}
.my_favorite_main_ri_title_ri_top{
	float: right;
	margin-right: 40px;
}
.my_favorite_main_ri_title_ri_bot{
	float: right;
}
.my_favorite_main_ri_title_ri_bot img{
	width: 22px;
	height: 22px;
	display: inline-block;
    vertical-align: middle;
    margin-right:7px;
}
.my_favorite_main_ri_title_ri_bot svg,.my_favorite_main_ri_title_ri_bot svg{
	width: 22px;
	height: 22px;
	display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
}
.my_favorite_main_ri_title_ri_bot span{
	line-height: 22px;
}

.my_favorite_main_ri_inner{
	margin-top: 8px;
	width: 880px;
	font-size: 16px;
	line-height: 26px;
	color: rgba(0, 0, 0, 0.8);
}
.my_favorite_main_ri_bot{
	margin-top: 8px;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.8);
	width: 880px;
	/*display: -webkit-box;
	/*文本溢出两行出省略号*/
	/*-webkit-box-orient: vertical;*/
	/*允许行数*/
	/*-webkit-line-clamp: 1;*/
	/*overflow: hidden;*/
}
