.my_favorite_top{
	background: #DE2121;
	padding: 24px 0;
}
.my_favorite_top_le{
	float: left;
}
.my_favorite_top_le img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	float: left;
	margin-right: 24px;
}
.my_favorite_top_le_name{
	float: left;
	margin-top: 8px;	
}
.my_favorite_top_le_name p{
	font-size: 20px;
	line-height: 28px;
	font-weight: 600;	
	color: #FFFFFF;
}
.my_favorite_top_le_name_shenfen{
	border: 0.5px solid rgba(255, 255, 255, 0.4);
	box-sizing: border-box;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
	padding: 2px 5px;
	margin-top: 8px;
	text-align: center;
    width: fit-content;
}
.my_favorite_top_ri{
	float: right;
	margin-top: 10px;
}
.my_favorite_top_ri_inner{
	float: right;
	margin-left: 50px;
}
.my_favorite_top_ri_inner_text{
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	text-align: center;
}

.my_favorite_top_ri_inner_naber{
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	color: #FFFFFF;
	text-align: center;
}
.my_favorite_main{
	margin-top: 28px;
}
.my_favorite_main_le{
	width: 280px;
	float: left;
}
.my_favorite_main_le ul{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 10px;
	/*height: 476px;*/
}
.my_favorite_main_le li{
	width: 180px;
	margin: 0 auto;
	padding: 12px 0;
	text-align: center;
}
.my_favorite_main_le li a{
	color: rgba(0, 0, 0, 0.8);
 }
.my_favorite_main_le li a:hover{
	color: #DE2121;
}
.my_favorite_main_le .ac{
	background: #DE2121;
	border-radius: 24px;
	color: #fff;
	width: 180px;
	
}
.tuichu{
	width: 180px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 24px;
	color: #DE2121;
	text-align: center;
	margin-top: 24px;
	margin-bottom: 203px;
}
.my_favorite_main_ri{
	float: left;
	width: 880px;
	margin-left: 20px;
}
.my_favorite_main_ri_top{
	position: relative;
}
.my_favorite_main_ri_top>p{
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.8);
	padding-top: 12px;
	padding-bottom:8px ;
}
.my_favorite_main_ri_top_jifen{
	position: absolute;
	top: 12px;
	right: 0;
	color: #18A0FB;
}
.my_favorite_main_ri_top_jifen img{
	width: 24px;
	height: 24px;
	
	display: inline-block;
    vertical-align: middle;
}
.my_favorite_main_ri_main{
	
}
p{
	margin: 0;
	padding: 0;
	/*文本溢出两行出省略号*/
	display: -webkit-box;
	-webkit-box-orient: vertical;
	/*允许行数*/
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.my_intrgral_main_ri_mian{
	margin-top: 16px;
	padding-bottom: 12px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 8px;
}
.my_intrgral_main_ri_mian li{
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.4);
	float: left;
	margin-right: 128px;
	cursor: pointer;
}
.my_intrgral_main_ri_mian li:hover{
	color: #DE2121;
}
.my_intrgral_main_ri_mian .my_intrgral_main_ri_mian_ri{
	float: right;
	margin-right: 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.4);
}
.my_intrgral_main_ri_mian_ri span{
	color:#FF8A35;
	font-weight: 600;
	
}
.my_intrgral_main_ri_mian .ac{
	color: #DE2121;
	font-weight: 600;
}
/*<!--课程积分-->*/
.course{
	
}
.course_main{
	margin-top: 16px;
	padding-bottom: 16px;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.course_main_le{
	float: left;
	position: relative;
	margin-right: 20px;
}
.course_main_le span{
	position: absolute;
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	padding: 0 8px;
	bottom: 8px;
	right: 8px;
	background: #D82929;
	border-radius: 4px;
}
.course_main_le img{
	width: 180px;
	height: 90px;
	cursor: pointer;
}

.course_main_ri{
	float: right;
	
}

.course_main_ri{
	width: 680px;
	
}
.course_main_ri p{
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */
	display: -webkit-box;
	-webkit-box-orient: vertical;
	/*允许行数*/
	-webkit-line-clamp: 1;
	overflow: hidden;
	
	color: rgba(0, 0, 0, 0.8);
}
.leixing{
	margin-top: 12px;
	display: inline-block;
	width: auto;
	font-size: 12px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.6);
	padding: 2px 8px;
	border: 1px solid rgba(0, 0, 0, 0.4);
}
.course_main_ri_bottom{
	margin-top: 14px;
}
.course_main_ri_bottom_le{
	float: left;
	font-size: 14px;
	line-height: 26px;
	color: rgba(0, 0, 0, 0.4);
}
.course_main_ri_bottom_le span{
	color: rgba(0, 0, 0, 0.6);
}
.course_main_ri_bottom_ri{
	float: right;
	font-size: 14px;
	line-height: 22px;
	color: rgba(0, 0, 0, 0.8);
}
.course_main_ri_bottom_ri span{
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
	color: #FF8A35;
}

/*答题积分*/


.The_answer_points{
	
}
.The_answer_points_mian{
	padding-bottom: 18px;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
	margin-top: 16px;
}
.The_answer_points_mian P{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0,0,0,.8);
	font-weight: 400;
}
.The_answer_points_mian_zhong{
	margin-top: 8px;
}
.The_answer_points_mian_zhong p{
	font-size: 14px;
	line-height: 22px;
	float: left;	
	color: rgba(0, 0, 0, 0.4);
	margin-right: 8px;
}
.The_answer_points_mian_zhong span{
	display: block;
	float: left;
	width: 830px;
	font-size: 14px;
	line-height: 22px;
	color: #18A0FB;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	/*允许行数*/
	-webkit-line-clamp: 1;
	overflow: hidden;
	cursor: pointer;
}
.The_answer_points_mian_zhong span:hover{
	color: #0487DE;
}
.The_answer_points_mian .course_main_ri_bottom{
    margin-top: 10px;
}
.Login_integral .course_main_ri_bottom{
	padding-bottom: 8px;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.Login_integral .course_main_ri_bottom_le span{
	color: #000000;
}

.my_favorite_main_ri_title_ri_bot{
	float: right;
	margin-top: 3px;
	margin-right: 24px;
}
.my_favorite_main_ri_title_ri_bot img {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}
.my_favorite_main_ri_title_ri_bot span {
    line-height: 22px;
}